.app-container {
  display: flex;
  height: 100% !important;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Sidebar container */
.sidebar-container {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #343a40; /* Match sidebar background */
  color: #fff;
  height: 100vh; /* Full height */
  overflow-y: auto; /* Scrollable if content overflows */
}

/* Main content area */

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.fab:hover {
  background-color: #0056b3;
}

/* Default theme (light) */
.app-container.light {
  background-color: #f8f9fa; /* Light background */
  color: #343a40; /* Dark text */
}

/* Dark theme */
.app-container.dark {
  background-color: #343a40; /* Dark background */
  color: #f8f9fa; /* Light text */
}

/* Sidebar adjustments for dark theme */
.app-container.dark .sidebar {
  background-color: #212529; /* Darker sidebar */
  color: #adb5bd; /* Light gray text */
}

.app-container.dark .sidebar a {
  color: #adb5bd; /* Light gray links */
}

.app-container.dark .sidebar a:hover {
  color: #fff; /* White text on hover */
}
